form{
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    background: #fff;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; 
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; 
}