<form novalidate (ngSubmit)="onSubmit(loginForm.value)" [formGroup]="loginForm">
  <div class="form-group">
    <label for="name">Email:</label>
    <input 
      [ngClass]="{
          'is-valid': isControlValid('email'),
          'is-invalid': isControlInvalid('email')
        }"  
      type="email" 
      class="form-control"
      id="emailaddress" 
      placeholder="User email"
      formControlName="email">
    <div *ngIf="isControlInvalid('email')" class="invalid-feedback">
      <div
      class="error"
      *ngIf="loginForm.get('email').hasError('required')">
      Email is required
      </div>
      <div
      class="error"
      *ngIf="loginForm.get('email').hasError('email')">
      Email is invalid
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Password:</label>
    <input 
      [ngClass]="{
        'is-valid': isControlValid('password'),
        'is-invalid': isControlInvalid('password')
      }"
      name="password"
      type="password" 
      class="form-control" 
      id="password" 
      placeholder="Password"
      formControlName="password">
    <div *ngIf="isControlInvalid('password')" class="invalid-feedback">
      <div
      class="error"
      *ngIf="loginForm.get('password').hasError('required')">
      Email is required
      </div>
      <div
      class="error"
      *ngIf="loginForm.get('password').hasError('minlength')">
      Password should be minimum 8 characters
      </div>
    </div>
  </div> 
  <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
</form>


