<form novalidate (ngSubmit)="onSubmit(loginForm.value)" [formGroup]="loginForm">
  <div formGroupName="credentials">
    <div class="form-group">
      <label for="email">Email:</label>
      <input 
        [ngClass]="{
            'is-valid': !isControlInvalid('credentials','email'),
            'is-invalid': isControlInvalid('credentials','email')
          }"  
        type="email" 
        class="form-control"
        id="emailaddress" 
        placeholder="User email"
        formControlName="email">
      <div *ngIf="isControlInvalid('credentials','email')" class="invalid-feedback">
        <div
        class="error"
        *ngIf="loginForm.get('credentials.email').hasError('required')">
        Email is required
        </div>
        <div
        class="error"
        *ngIf="loginForm.get('credentials.email').hasError('email')">
        Email is invalid
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input 
        [ngClass]="{
          'is-valid': !isControlInvalid('credentials','password'),
          'is-invalid': isControlInvalid('credentials','password')
        }"
        name="password"
        type="password" 
        class="form-control" 
        id="password" 
        placeholder="Password"
        formControlName="password">
      <div *ngIf="isControlInvalid('credentials','password')" 
        class="invalid-feedback">
        <div
        class="error"
        *ngIf="loginForm.get('credentials.password').hasError('required')">
        Email is required
        </div>
        <div
        class="error"
        *ngIf="loginForm.get('credentials.password').hasError('minlength')">
        Password should be minimum 8 characters
        </div>
      </div>
    </div> 
  </div>
    <hr>
    
  <div formGroupName="profile">
    <div class="form-group">
        <label for="phone">Phone:</label>
        <input 
          [ngClass]="{
              'is-valid': !isControlInvalid('profile','phone'),
              'is-invalid': isControlInvalid('profile','phone')
            }"  
          type="tel" 
          class="form-control"
          id="phone" 
          placeholder="User phone"
          formControlName="phone">
        <div *ngIf="isControlInvalid('profile','phone')" class="invalid-feedback">
          <div
          class="error"
          *ngIf="loginForm.get('profile.phone').hasError('required')">
          Phone is required
          </div>
          <div
          class="error"
          *ngIf="loginForm.get('profile.phone').hasError('minlength')">
          Phone no not less that 13 characters
          </div>
          <div
          class="error"
          *ngIf="loginForm.get('profile.phone').hasError('maxlength')">
          Phone no not more than 14 characters
          </div>
          <div
          class="error"
          *ngIf="loginForm.get('profile.phone').hasError('pattern')">
          Phone must contain number and started of "+"
          </div>
        </div> 
      </div>
    <div class="form-group">
      <label for="first-name">First Name:</label>
      <input 
        [ngClass]="{
          'is-valid': !isControlInvalid('profile','firstName'),
          'is-invalid': isControlInvalid('profile','firstName')
        }"
        name="first-name"
        type="text" 
        class="form-control" 
        id="first-name" 
        placeholder="First Name"
        formControlName="firstName">
      <div *ngIf="isControlInvalid('profile','firstName')" class="invalid-feedback">
        <div
        class="error"
        *ngIf="loginForm.get('profile.firstName').hasError('required')">
        First Name is required
        </div>
        <div
        class="error"
        *ngIf="loginForm.get('profile.firstName').hasError('pattern')">
        Must contain only word characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="last-name">Last Name:</label>
      <input 
        [ngClass]="{
          'is-valid': !isControlInvalid('profile','lastName'),
          'is-invalid': isControlInvalid('profile','lastName')
        }"
        name="last-name"
        type="text" 
        class="form-control" 
        id="last-name" 
        placeholder="Last Name"
        formControlName="lastName">
      <div *ngIf="isControlInvalid('profile','lastName')" class="invalid-feedback">
        <div
        class="error"
        *ngIf="loginForm.get('profile.lastName').hasError('pattern')">
        Must contain only word characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <p>
        <input type="radio" value="male" formControlName="gender"> Male
      </p>
      <p>
        <input type="radio" value="female" formControlName="gender"> Female
      </p>
      <div *ngIf="isControlInvalid('profile','gender')" class="invalid-feedback">
        <div
        class="error"
        *ngIf="loginForm.get('profile.gender').hasError('required')">
        Choose your sex
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="date">Date of birth:</label>
      <input 
        [ngClass]="{
          'is-valid': !isControlInvalid('profile','dateOfBirth'),
          'is-invalid': isControlInvalid('profile','dateOfBirth')
        }"
        name="date"
        type="text" 
        class="form-control" 
        id="date" 
        placeholder="dd/MM/YYYY"
        formControlName="dateOfBirth">
      <div *ngIf="isControlInvalid('profile','dateOfBirth')" class="invalid-feedback">
        <div
        class="error"
        *ngIf="loginForm.get('profile.dateOfBirth').hasError('required')">
        Date is required
        </div>
        <div
        class="error"
        *ngIf="loginForm.get('profile.dateOfBirth').hasError('pattern')">
        Date should be dd/MM/YYYY format
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="date">Github-url:</label>
      <input 
        [ngClass]="{
          'is-valid': !isControlInvalid('profile','githubUrl'),
          'is-invalid': isControlInvalid('profile','githubUrl')
        }"
        name="date"
        type="text" 
        class="form-control" 
        id="github-url" 
        placeholder="Paste your github url"
        formControlName="githubUrl">
      <div *ngIf="isControlInvalid('profile','githubUrl')" class="invalid-feedback">
        <div
        class="error"
        *ngIf="loginForm.get('profile.githubUrl').hasError('required')">
        Github url is required
        </div>
      </div>
    </div>
  </div> 
    <hr>

  <div formGroupName="address">
    <div class="form-group">
      <label for="country">Your Country</label>
      <input 
        [ngClass]="{
          'is-valid': !isControlInvalid('address','country'),
          'is-invalid': isControlInvalid('address','country')
        }"
        name="country"
        type="text" 
        class="form-control" 
        id="country" 
        placeholder="Your Country"
        formControlName="country">
      <div *ngIf="isControlInvalid('address','country')" class="invalid-feedback">
        <div
        class="error"
        *ngIf="loginForm.get('address.country').hasError('required')">
        Date is required
        </div>
        <!-- <div
        class="error"
        *ngIf="loginForm.get('address.country').hasError('pattern')">
        Date should be dd/MM/YYYY format
        </div> -->
      </div>
    </div>

    <div class="form-group">
      <label for="country">Your City</label>
      <input 
        [ngClass]="{
          'is-valid': !isControlInvalid('address','city'),
          'is-invalid': isControlInvalid('address','city')
        }"
        name="city"
        type="text" 
        class="form-control" 
        id="city" 
        placeholder="Your City"
        formControlName="city">
      <div *ngIf="isControlInvalid('address','city')" class="invalid-feedback">
        <div
        class="error"
        *ngIf="loginForm.get('address.city').hasError('required')">
        Date is required
        </div>
        <!-- <div
        class="error"
        *ngIf="loginForm.get('address.city').hasError('pattern')">
        Date should be dd/MM/YYYY format
        </div> -->
      </div>
    </div>

    <div class="form-group">
      <label for="country">Your Street</label>
      <input 
        [ngClass]="{
          'is-valid': !isControlInvalid('address','street'),
          'is-invalid': isControlInvalid('address','street')
        }"
        name="street"
        type="text" 
        class="form-control" 
        id="street" 
        placeholder="Your Street"
        formControlName="street">
      <div *ngIf="isControlInvalid('address','street')" class="invalid-feedback">
        <div
        class="error"
        *ngIf="loginForm.get('address.street').hasError('required')">
        Date is required
        </div>
        <!-- <div
        class="error"
        *ngIf="loginForm.get('address.street').hasError('pattern')">
        Date should be dd/MM/YYYY format
        </div> -->
      </div>
    </div>

    <div class="form-group">
      <label for="country">Your Zip</label>
      <input 
        [ngClass]="{
          'is-valid': !isControlInvalid('address','zip'),
          'is-invalid': isControlInvalid('address','zip')
        }"
        name="zip"
        type="text" 
        class="form-control" 
        id="zip" 
        placeholder="Your Zip"
        formControlName="zip">
      <div *ngIf="isControlInvalid('address','zip')" class="invalid-feedback">
        <div
        class="error"
        *ngIf="loginForm.get('address.zip').hasError('required')">
        Date is required
        </div>
        <!-- <div
        class="error"
        *ngIf="loginForm.get('address.zip').hasError('pattern')">
        Date should be dd/MM/YYYY format
        </div> -->
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">SignUp</button>
</form>


